.portlet-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
#new-assign-form .form-group{
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
#mod-assign-form .form-group{
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}